@import url("https://fonts.googleapis.com/css2?family=Ruluko&display=swap");
* {
  padding: 0;
  margin: 0; }

body {
  background-color: lightblue; }

.footer {
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center; }

.logo {
  display: flex;
  height: 5rem;
  width: 6rem;
  padding: 2rem;
  color: whitesmoke; }

.text {
  display: flex;
  color: whitesmoke;
  font-size: 1rem;
  flex-direction: column;
  text-align: center;
  font-family: 'Ruluko'; }

.p {
  display: flex; }

.logos-sociaux {
  display: flex; }

.logos-sociaux img {
  padding: 1rem;
  padding-top: 7rem; }

.shifumi-Inc {
  color: rgba(88, 218, 235, 0.938);
  text-decoration: underline;
  font-size: 1.3rem; }

/* Barre de navigation */
.navbar {
  padding: 16px;
  display: grid;
  width: 100%;
  grid-template-columns: 140px 1fr;
  position: fixed;
  border: 2px solid black;
  /*temporaire*/
  background-color: rgba(255, 255, 255, 0); }
  .navbar img {
    width: 100px; }
  .navbar__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 24px 0px 24px;
    list-style: none;
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 2px black; }
    .navbar__list__link {
      font-family: "Ruluko";
      text-decoration: none;
      color: white; }
      .navbar__list__link:hover {
        text-decoration: underline; }

.home-img {
  height: 100vh;
  background-image: url("../assets/zen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.home-img h1 {
  font-size: 10vw;
  font-family: 'Proza Libre';
  font-weight: lighter;
  letter-spacing: 8px;
  color: white;
  text-shadow: 4px 4px 2px black; }

.home-img p {
  width: 90%;
  text-align: center;
  font-family: "Ruluko";
  font-size: 2vw;
  color: white;
  text-shadow: 2px 2px 2px black; }

* {
  margin: 0;
  padding: 0;
  font-family: "Syne Mono", Verdana, Geneva, Tahoma, sans-serif; }

.bloc {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden; }

.bloc video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -100; }

img {
  padding: 1rem;
  width: 8.75rem; }

.title_index {
  color: whitesmoke;
  display: flex;
  align-items: justify;
  justify-content: center;
  text-align: center;
  font-size: 7rem; }

.div_button {
  display: flex;
  justify-content: center;
  margin: 5rem; }

button {
  background: whitesmoke;
  border-radius: 80px;
  border: 0.2rem solid purple;
  font-size: 2rem;
  padding: 1rem 2rem 1rem 2rem; }

a.buttons {
  text-decoration: none;
  color: purple; }
