/* ------------------- */
/* Barre de navigation */
/* ------------------- */
.navbar {
  padding: 16px;
  display: grid;
  width: 100%;
  grid-template-columns: 140px 1fr;
  position: fixed;
  background-color: rgba(255, 255, 255, 0);
  img {
    width: 100px;
  }
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 24px 0px 24px;
    list-style: none;
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    &__link {
      font-family: $font-text;
      text-decoration: none;
      color: white;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
/* ------------------- */
/*----image de fond----*/
/* ------------------- */
.contact-img {
  height: 100vh;
  background-image: url("../assets/contact_img_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-img h1 {
  font-size: 10vw;
  font-family: "Proza Libre";
  font-weight: lighter;
  letter-spacing: 8px;
  color: white;
  text-shadow: 4px 4px 2px black;
}

h2 {
  color: #dd5405;
  text-decoration: underline;
  font-size: 1.5em;
  text-align: center;
}

/* -------------------- */
/* ---form d'avis------ */
/* -------------------- */
.opinion_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: red;
  justify-content: center;
  align-items: center;
}

.user_img {
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.stars_img {
}

/* -------------------- */
/* -formulaire contact- */
/* -------------------- */

.contact_container {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  text-align: center;
  flex-wrap: wrap;
}

form.contact {
  padding: 1rem;
  width: 100%;
  margin: auto;
}

.contact__firstname,
.contact__lastname,
.contact__email,
.contact__textarea {
  border: 0.1rem solid gainsboro;
  background-color: whitesmoke;
  text-align: start;
}

.contact__firstname,
.contact__lastname {
  width: 45%;
}

.contact__email,
.contact__textarea {
  width: 90%;
}

.contact__textarea {
  height: 4rem;
}

/* ------bouton------- */
.contact__input[type="submit"] {
  color: whitesmoke;
  background-color: #dd5405;
  border: none;
  font-size: 1rem;
  width: 10rem;
  height: 3rem;
  border-radius: 2rem;
  margin: 1rem;
  text-align: center;
}

.contact__input[type="submit"]:hover {
  color: #dd5405;
  background-color: whitesmoke;
  border: 1px solid #dd5405;
}

/* ------------------- */
/* ------footer------- */
/* ------------------- */

.footer {
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  height: 8rem;
  width: 9rem;
  padding: 1rem;
  color: whitesmoke;
}

.text {
  display: flex;
  color: hsl(0, 0%, 96%);
  font-size: 1rem;
  flex-direction: column;
  text-align: center;
  font-family: "Ruluko";
}

.p {
  display: flex;
}

.socialMedias {
  display: flex;
}

.socialMedias img {
  padding: 1rem;
  height: 2rem;
  width: 2rem;
  padding-top: 7rem;
}

.shifumi-Inc {
  color: rgba(88, 218, 235, 0.938);
  text-decoration: underline;
  font-size: 1.3rem;
}
