/* ------------------- */
/*----image de fond----*/
/* ------------------- */
.contact-img {
  height: 100vh;
  background-image: url("../assets/contact_img_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-img h1 {
  font-size: 10vw;
  font-family: "Proza Libre";
  font-weight: lighter;
  letter-spacing: 8px;
  color: white;
  text-shadow: 4px 4px 2px black;
}

h2 {
  color: #dd5405;
  text-decoration: underline;
  font-size: 1.5em;
  text-align: center;
  margin: 1rem;
}

/* ---form d'avis------ */
.formOpinion__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  div {
    display: flex;
    width: 100%;
    justify-content: flex-start;
  }
  &__userImg {
    display: flex;
    align-items: center;
    width: 3rem;
    height: 3rem;
    &__write {
      display: flex;
      align-items: center;
      &__starsImg {
        width: 5rem;
        height: 5rem;
      }
    }
  }
}

/* --AVIS DES JOUEURS-- */
.opinion {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    "opinion__img-1 opinion__art-1 opinion__art-2 opinion__img-2"
    "opinion__img-3 opinion__art-3 opinion__art-4 opinion__img-4";
  align-content: stretch;
  justify-items: stretch;
  align-items: center;
  margin-top: 4rem;
}

.photo_joueurs {
  height: 7rem;
  width: 7rem;
}

.opinionSpan {
  color: #dd5405;
  display: grid;
  margin-top: 1rem;
}

.opinion__img-1 {
  grid-area: opinion__img-1;
  display: grid;
  align-items: center;
  justify-content: flex-end;
}
.opinion__art-1 {
  grid-area: opinion__art-1;
  background-color: gainsboro;
  display: grid;
  align-items: center;
  justify-content: flex-start;
  text-align: start;
  padding: 1rem;
  height: 6rem;
  width: 30rem;
}
.opinion__art-2 {
  grid-area: opinion__art-2;
  background-color: gainsboro;
  display: grid;
  align-items: center;
  justify-content: flex-end;
  text-align: end;
  padding: 1rem;
  height: 6rem;
  width: 30rem;
}
.opinion__img-2 {
  grid-area: opinion__img-2;
  display: grid;
  align-items: center;
  justify-content: flex-start;
}
.opinion__img-3 {
  grid-area: opinion__img-3;
  display: grid;
  align-items: flex-end;
  justify-content: flex-end;
}
.opinion__art-3 {
  grid-area: opinion__art-3;
  background-color: gainsboro;
  display: grid;
  align-items: center;
  justify-content: flex-start;
  text-align: start;
  padding: 1rem;
  width: 30rem;
  height: 6rem;
}
.opinion__art-4 {
  grid-area: opinion__art-4;
  background-color: gainsboro;
  display: grid;
  align-items: center;
  justify-content: flex-end;
  text-align: end;
  padding: 1rem;
  height: 6rem;
  width: 30rem;
}
.opinion__img-4 {
  grid-area: opinion__img-4;
  display: grid;
  align-items: flex-start;
  justify-content: flex-start;
}

/* -formulaire contact- */

.contact__formContainer {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  margin-top: 4rem;
  text-align: center;
  flex-wrap: wrap;
  &__form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    align-items: center;
    div {
      display: flex;
      width: 100%;
      justify-content: center;
    }
    &__input {
      box-sizing: border-box;
      border: 0.1rem solid gainsboro;
      background-color: whitesmoke;
      padding: 0.3rem;
      text-align: start;
      width: 45%;
      &--big {
        width: 90%;
      }
      &--bigger {
        height: 4rem;
        width: 90%;
      }
    }
    &__button {
      color: whitesmoke;
      background-color: #dd5405;
      border: none;
      font-size: 1rem;
      width: 10rem;
      height: 3rem;
      border-radius: 2rem;
      margin: 1rem;
      text-align: center;
      &:hover {
        color: #dd5405;
        background-color: whitesmoke;
        border: 1px solid #dd5405;
      }
    }
  }
}
