* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
}

.contact-img {
  height: 100vh;
  background-image: url("../assets/contact_img_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-img h1 {
  font-size: 10vw;
  font-family: "Proza Libre";
  font-weight: lighter;
  letter-spacing: 8px;
  color: white;
  text-shadow: 4px 4px 2px black;
}

h2 {
  color: #dd5405;
  text-decoration: underline;
  font-size: 1.5em;
  text-align: center;
  margin-top: 2rem;
}

.formOpinion__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 1rem;
  @media (max-width: 800px) {
    display: flex;
    justify-content: center;
    padding: auto;
    margin: 10px;
  }
  div {
    display: flex;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 0 10px;

    @media (max-width: 800px) {
      width: 50%;
      margin: auto;
    }
  }
  &__userImg {
    display: flex;
    align-items: center;
    width: 3rem;
    height: 3rem;
    &__write {
      display: flex;
      align-items: center;
      padding: 5px;
      color: #000;
      text-decoration: none;
    }
  }
}

#opinionContainerId {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.opinionContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  width: 800px;
  min-width: 350px;
  min-height: 250px;
  padding-bottom: 40px;
  overflow: hidden;
  @media (max-width: 800px) {
    margin: 1rem;
  }
  &__wrapper {
    box-sizing: border-box;
    width: 400%;
    /* 100%/card */
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    transition: 1s;
    &__card {
      box-sizing: border-box;
      width: 800px;
      min-height: 100%;
      background: #fff;
      border-radius: 20px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      margin: 0 10px;
      @media (max-width: 800px) {
        flex-direction: column;
      }
      &__player {
        box-sizing: border-box;
        width: 70%;
        height: 250px;
        overflow: hidden;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        position: relative;
        @media (max-width: 800px) {
          width: 100%;
          border-radius: 10px;
        }
        &__image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          background-size: contain;
        }
        &__name {
          box-sizing: border-box;
          position: absolute;
          bottom: 10px;
          right: 0.5px;
          border-top-left-radius: 50px;
          border-bottom-left-radius: 50px;
          padding: 5px 20px;
          background: #fff;
          color: black;
          text-transform: capitalize;
          font-size: 14px;
        }
      }
      &__body {
        box-sizing: border-box;
        width: 120%;
        min-height: 100%;
        height: auto;
        margin-left: 20px;
        position: relative;
        padding-bottom: 50px;
        @media (max-width: 800px) {
          width: 100%;
          min-height: auto;
          margin-left: 0;
        }
        &__review {
          box-sizing: border-box;
          font-size: 20px;
          line-height: 30px;
          margin-top: 30px;
        }
        &__rating {
          box-sizing: border-box;
          position: absolute;
          bottom: 10px;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          &__star {
            box-sizing: border-box;
            width: 25px;
            margin-right: 5px;
          }
        }
      }
    }
  }
  &__indicators {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.opinionContainer__indicators button {
  box-sizing: border-box;
  background: none;
  border: none;
  outline: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
  margin-left: 5px;
  cursor: pointer;
  transition: transform 0.5s;
}

button.opinionContainer__indicators__active {
  box-sizing: border-box;
  width: 40px;
  border-radius: 50px;
  background: #fff;
}

.formulaire {
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin-bottom: 4rem;

  &__contact {
    padding: 30px;
    border-radius: 10px;
    width: 800px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)
    margin: 0 10px;

    &__title {
      font-size: 20px;
    }
    &__line {
      width: 100%;
      height: 1px;
      background-color: #dd5405;
    }
    &__form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 30px;
      &__left {
        width: 300px;
        &__group {
          position: relative;
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          &__input {
            margin-top: 5px;
            padding: 10px 5px 10px 30px;
            border: 1px solid #c9c9c9;
            outline-color: #dd5405;
            border-radius: 5px;
          }
          & i {
            position: absolute;
            /* positionné par rapport à son parent le plus proche positionné */
            left: 0;
            top: 25px;
            padding: 9px 8px;
            color: #dd5405;
          }
        }
      }
      &__right {
        margin-left: 40px;
        width: 300px;
        @media screen and (max-width: 920px) {
          margin-left: 0px;
        }
        &__group {
          height: 100%;
          position: relative;
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          &__textarea {
            margin-top: 5px;
            padding: 10px;
            background-color: #f1f1f1;
            border: 2px solid #dd5405;
            outline: none;
            border-radius: 5px;
            resize: none;
            height: 72%;
          }
        }
      }
      &__footer {
        display: flex;
        justify-content: center;
        &__button {
          margin-top: 10px;
          background-color: #dd5405;
          color: white;
          font-size: 15px;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          outline: none;
          cursor: pointer;
          transition: transform 0.5s;
          text-align: center;
          &:hover {
            transform: scale(1.05);
            border: 1px solid #dd5405;
            background-color: white;
            color: #dd5405;
          }
        }
      }
    }
  }
}
