.footer{
    display: flex;
    font-size: 16px;
    background-color: $black-color;
    justify-content: space-between;
    align-items: center;
    &__logo{
        display: flex;
        height: 13vh;
        width: 13vw;
        padding: 1em 1em 1em 3em;
        color: $white-color;
    }
    &__text{
        display: flex;
        color: $white-color;
        font-size: 2vw;
        flex-direction: column;
        text-align: center;
        font-family: $font-text;
        &__title{
            display: flex 1;
            color: rgba(88, 218, 235, 0.938);
            text-decoration: underline;
            font-size: 3vw;
            font-family: $font-text;
            margin: 1em;
        }
        &__paragraph{
            display: flex 2;
            padding-bottom: 2em;
            font-family: $font-text;
        }
    }
    &__socialMedias{
        display: flex;
        img{
            padding: 1em;
            height: 3vh;
            width: 3vw;
            padding-top: 10vh;   
        }
    }
}

@media screen and (max-width:600px) {
   .footer {
        font-size: 10px;
        &__logo{
            height: 10vh;
            width: 20vw;
            padding-right: 20vw;
        }
        &__socialMedias{
            flex-wrap: wrap;
            flex-direction: column;
            img{
                display: flex;
                flex-basis: 3;
                flex-wrap: wrap;
                height: 1em;
                width: 1em;
                padding: 2vh 2vw 2vh 20vw;
            }

        }
    }
}

@media screen and (max_width:1000px) {
    .footer{
        font-size: 10px;
    }
}



