.gameHeader{
    background-image: url("../assets/game.jpeg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.game{
    display: flex;
        height: 90vh;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 2rem;
        background-image: url("../assets/gamewallpaper.jpg");
        background-size: cover;
        margin: 5rem;
        border: 1px solid black;
    &__score{
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        &__player, &__computer{
            display: flex;
            background-image: url("../assets/craies.jpg");
            background-size: cover;
            font-size: 2rem;
            color: $white-color;
            text-shadow: $text-shadow;
            padding: 2rem 4rem 2rem 4rem ;
            margin: 0 6rem 0 6rem;
            border-radius: .5rem;
        }
        &__slashBar{
            display: flex ;
            height: 3rem;
            width: 3rem;
        }
    }
    &__result{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        &__player, &__computer{
            display: flex;
            height: 10rem;
            width: 10rem;
            padding: 4rem;
            margin: 0 8rem 0 8rem;
        }
        &__vs{
            display: flex;
            background-image: url("../assets/fighting.png");
            padding: 4rem 4rem 4rem 4rem;
            background-size: cover;
        }
        
    }
    &__button{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &__1, &__2, &__3{
            margin: 0 4rem 4rem 4rem;
            background-color:rgba(24, 23, 23, 0.942);
            color: whitesmoke;
            border-color: black;
            &:hover{
                color:rgba(24, 23, 23, 0.942); 
                background-color: whitesmoke;
                cursor: pointer;
                font-weight: bold;
                font-size: 2.5rem;
            }
        }

    }
}
