
.titleHistory{
    height: 100vh;
    background-image: url('../assets/history_img_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.h1History{
    color: $white-color;
    font-family: $font-title;
    font-weight: lighter;
    font-size: 8vw;
    text-shadow: 5px 5px 5px black;   
}

.titleHistoryArrow{
    width: 50px;
}

.titleHistoryArrow :hover {
    transform: scale(1.1);
}

.mainHistory{
    height: 100vh;
    background: $white-color;
}

.slideHistoryAll{
    position: relative;
    background: $white-color;
    display: flex;
    flex-direction: row;
    width:200%;
    margin: 150px auto;

    
    

    .slideHistory{
        position:relative;
        width: 100%;
        height: 100%;
        animation: sliding 15s infinite;
        
        
        
        

        .imgSlide{
            position: absolute;
            width: 100%;
        }

        

        .infoHistory{
            position: absolute;
            color: black;
            background: rgba(255,255,255,0.3);
            width: 75%;
            margin-top: 50px;
            margin-left: 50px;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 5px 25px rgba(1, 1, 1, 0.05);

            .h3History{
                font-size: 2em;
                font-weight: 800;                
            }

            .pHistory{
                font-size: 1em;
                font-weight: 400;                
            }

            @keyframes sliding{
                0%{
                    transform: translateX(0);
                }
                20%{
                    transform: translateX(0);
                }
                35%{
                    transform: translateX(-100%);
                }
                55%{
                    transform: translateX(-100%);
                }
                70%{
                    transform: translateX(-200%);
                }
                90%{
                    transform: translateX(-200%);
                }
                100%{
                    transform: translateX(0);
                }
            }


        }   
    }
}
