.headTitle{
    height: 100vh;
    background-image: url('../assets/history_img_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;

    &__h1{
        color: $white-color;
        font-family: $font-title;
        font-weight: lighter;
        font-size: 8vw;
        text-shadow: 5px 5px 5px black;
        padding-top: 7%;
    }
    &__arrow{
        width: 50px;
        &:hover {
            transform: scale(1.1);
            }
      
    }
}

.mainHistory{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1vh 10vw 1vh 10vw;
    &__h2{
        font-family: $font-text;
        display: flex 1;
        font-size: 3rem;
        color: $orange-color;
        padding: 4vh;
        @media screen and (max-width: 600px) {
            font-size: 2.2rem;
        }
    }
    &__gridContainer{
        display:flex 2;
        justify-content: center;
        align-items: center;
        &__grid{
            display: grid;
            margin-bottom: 20vh;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 5vh;
            @media screen and (max-width: 870px) {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                // 
                // margin-bottom: 50vh;
            }
            &__1, &__2, &__3,&__4{
                border-radius: 1vh;
                width: 40vw;
                height: 40vh;
                background-size: cover;
                &:hover {
                    transform: scale(1.1);
                }
                @media screen and (max-width: 870px){
                    width: 80vw;
                }
            }
            &__1{
                background-image: url("../assets/hist1.png")
                
            }
            &__2{
                background-image: url("../assets/hist2.png")
            }
            &__3{
                background-image: url("../assets/hist3.png")
            }
            &__4{
                background-image: url("../assets/hist4.png");
            }
        } 
    }  
}
