* {
  margin: 0;
  padding: 0;
  font-family: "Syne Mono", Verdana, Geneva, Tahoma, sans-serif;
}

/*global*/
.bloc {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/*video*/
.bloc video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -100;
}

/*logo*/
img {
  padding: 1rem;
  width: 8.75rem;
}

/*title*/
.title_index {
  color: whitesmoke;
  display: flex;
  align-items: justify;
  justify-content: center;
  text-align: center;
  font-size: 7rem;
  text-shadow: 3px 3px 3px purple;
}

/*section button*/
.div_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}

/*style button*/
button {
  background: whitesmoke;
  border-radius: 80px;
  border: 0.2rem solid purple;
  font-size: 2rem;
  padding: 1rem 2rem 1rem 2rem;
}

/*text button*/
a.buttons {
  text-decoration: none;
  color: purple;
}
/*----------------------------------*/
/*responsive design tablet*/
/*----------------------------------*/
@media screen and (max-width: 1024px) {
  .bloc {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  .title_index {
    font-size: 5.8rem;
    margin: auto;
    align-items: center;
    justify-content: center;
  }
  .div_button {
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    margin: auto;
  }
  button {
    font-size: 1.5rem;
    margin: auto;
  }
  img {
    width: 8rem;
  }
}
/*----------------------------------*/
/*responsive design mobile*/
/*----------------------------------*/
@media screen and (max-width: 480px) {
  .bloc {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  .title_index {
    font-size: 17vw;
    margin: auto;
    align-items: center;
    justify-content: center;
  }
  .div_button {
    align-items: center;
    justify-content: center;
    font-size: 10vw;
    margin: auto;
  }
  button {
    font-size: 5vw;
    margin: auto;
  }
  img {
    width: 20vw;
  }
}
