* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
}

.formPlayer {
  background-color: aquamarine;
  &__opinion {
    background-color: yellow;

    &__note {
      margin: auto;
      &__tilte {
        margin: auto;
      }
    }
    &__commit {
      margin: auto;
      &__title {
        margin: auto;
      }
      &__textarea {
        margin: auto;
      }
    }
    &__date {
      margin: auto;
      &__title {
        margin: auto;
      }
      &__input {
        margin: auto;
      }
    }
  }
}
