* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
}

.playerOpinion__header {
  font-family: $font-title;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  &__firstContainer {
    background-color: black;
    &__logo {
      display: flex;
      padding: 1rem;
      width: 6rem;
      margin-left: 4rem;
    }
  }
  &__secondContainer {
    background-color: #f4f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
    @media screen and (max-width: 800px) {
      font-size: 1rem;
      display: flex;
      justify-content: center;
    }
    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.playerForm {
  font-family: $font-title;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f3f3;
  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: auto;
  }
  &__opinion {
    background-color: white;
    width: 600px;
    height: 100%;
    padding: 30px;
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    @media screen and (max-width: 800px) {
      width: auto;
    }
    &__note {
      height: 100px;
      padding: 1rem;
      &__beers {
        padding: 1rem;
        & i {
          font-size: 4rem;
          @media screen and (max-width: 1024px) {
            font-size: 3.2rem;
          }
          @media screen and (max-width: 600px) {
            font-size: 2.2rem;
          }
        }
      }
    }
    &__commit {
      padding: 1rem;
      &__textarea {
        width: 90%;
        height: 15rem;
        border: 2px solid #dd5405;
        outline: none;
        border-radius: 5px;
        resize: none;
        margin: 1rem 0;
        font-size: 1rem;
        padding: 1rem;
      }
    }
    &__date {
      padding: 1rem;
      height: 6rem;
      &__input {
        margin: 1rem 0;
        font-size: 1.5rem;
        width: 90%;
        padding: 0 1rem;
        border: 2px solid #dd5405;
        border-radius: 5px;
      }
    }
    &__footer {
      display: flex;
      justify-content: center;
      &__button {
        margin-top: 10px;
        background-color: #dd5405;
        color: white;
        font-size: 15px;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        transition: transform 0.5s;
        text-align: center;
        &:hover {
          transform: scale(1.05);
          border: 1px solid #dd5405;
          background-color: white;
          color: #dd5405;
        }
      }
    }
  }
}
