.pageTitle {
    background-image: url("../assets/rules_img.jpeg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 400px) {
        height: 400px;
        width: 400px;
        h1 {
            font-size: 3rem;
        }
    }
}

.rules{
    display: flex;
    flex-direction: column;
    width: 100vw;
    text-align: center;
    &__title{
        font-family: $font-text;
        font-size: 3rem;
        display: flex 1;
        color: #dd5405;
        margin: 10vh 0 2vh 0;
        @media screen and (max-width:600px){
            font-size: 2.2rem;
        }
    }
    &__paragraph1{
        font-family: $font-text;
        display: flex 2;
        font-size: 1.4rem;
        margin: 10vh 20vw 5vh 20vw;
        &__strong{
            color: rgb(221, 84, 5);
            font-size: 1.6rem;
            text-decoration: underline;
        }
    }
    &__paragraph2{
        font-family: $font-text;
        display: flex 3;
        font-size: 1.4rem;
        line-height: 1.2rem;
        margin: 5vh 20vw 5vh 20vw;
    }
}

.spinOff{
    &__title{
        font-family: $font-text;
        display: flex 4;
        font-size: 2.2rem;
        color: hsl(22, 96%, 44%);
        margin: 10vh 0 2vh 0;
        text-align: center;
    }
    &__grid{
        display: grid;
        text-align: center;
        justify-content: center;
        grid-template-columns: 22vw 22vw 22vw;
        grid-template-rows: 55vh 55vh;
        gap: 5vw;
        margin: 10vh 10vw 30vh 10vw;
        @media screen and (max-width:600px){
            grid-template-columns: 40vw 40vw;
            grid-template-rows: 40vh 40vh 40vh ;
            gap: 10vh;
            margin: 10vh 15vw 30vh 10vw;
        }
        &__1, &__2, &__3, &__4, &__5, &__6{
            border-radius: 0.4rem;
            color: hsl(20, 24%, 93%);
            text-shadow: 2px 3px 2px black;
            line-height: 5vw;
            background: linear-gradient(145deg, #b3b2b2, #d5d4d4);
            box-shadow:  12px 12px 24px #a9a8a8,
                        -12px -12px 24px #e5e4e4;
            font-size: 5vh;
            @media screen and (max-width:600px){
                line-height: 8vh;
            }
        }
        &__1{
            grid-column: 1;
            grid-row: 1;
            background-image: url("../assets/sheldon.jpeg");
            background-size: cover;
            &__PFCLS{
                display: flex;
                flex-direction: column;
                list-style: none;
            }
            @media screen and (max-width:600px){
                grid-column: 1;
                grid-row: 1;
            }
        }
        &__2{
            grid-column: 1;
            grid-row: 2;
            @media screen and (max-width:600px){
                grid-column: 2;
                grid-row: 1;
                background-position: center;
            }
        }
        &__3{
            grid-column: 3;
            grid-row: 1;
            background-image: url("../assets/feu.jpeg");
            background-size: cover;
            background-position: center;
            &__FEF{
                display: flex;
                flex-direction: column;
                list-style: none;
                padding: 3vw;
            }
            @media screen and (max-width:600px){
                grid-column: 1;
                grid-row: 2;
                background-position: bottom;
            } 
        }
        &__4{
            grid-column: 2;
            grid-row: 1;
            @media screen and (max-width:600px){
                grid-column: 2;
                grid-row: 3;
            }
        }
        &__5{
            grid-column: 2;
            grid-row: 2;
            background-image: url("../assets/puits.jpeg");
            background-size: cover;
            background-position: center;
            &__PFCP{
                display: flex;
                flex-direction: column;
                list-style: none;
                padding: 3vw;
            }
            @media screen and (max-width:600px){
                grid-column: 1;
                grid-row: 3;
            }
        }
        &__6{
            grid-column: 3;
            grid-row: 2;
            @media screen and (max-width:600px){
                grid-column: 2;
                grid-row: 2;
            }
        }
        &__2, &__4, &__6{
            &__paragraph{ 
                display: flex;
                justify-content: center;
                padding: 3vh;
                height: 88%;
                border-radius: 1vh;
                color: $black-color;
                text-shadow: nones;
                @media screen and (max-width:600px) {
                    height: 85%;
                }
            }
        }

        &__1, &__3, &__5{
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $font-text;
            width: 22vw;
            height: 55vh;
            &:hover{
                cursor: pointer;
                transform: scale(1.2);
            }
            @media screen and (max-width:600px){
                height: 45vh;
                width: 45vw;
                &:hover{
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
        }
    }
}

#background-video {
    height: 55vh;
    width: 22vw;
    object-fit: cover;
    object-position: center;
    border-radius: 1vh;
    @media screen and (max-width:600px) {
        height: 45vh;
        width: 45vw;
    }
}