.headerRules{
    background-image: url("../assets/rules_img.jpeg");
    height: 100vh;
    background-size: cover;
}

.pageTitle{
    color:#F4F3F3;
    text-align: center;
    padding-top: 20rem;
    font-size: 8rem;
}

body{
    background-color: #F4F3F3;
}

.rules{
    display: flex;
    flex-direction: column;
    width: 100vw;
    text-align: center;
    &__title{
        display: flex 1;
        font-size: 3rem;
        color: rgb(221, 84, 5);
        margin: 3rem 0 2rem 0;
    }
    &__paragraph1{
        display: flex 2;
        font-size: 2rem;
        margin: 2rem 10rem 2rem 10rem;
    }
    &__paragraph2{
    display: flex 3;
    font-size: 2rem;
    margin: 2rem 10rem 2rem 10rem;
    }
}

.spinOff{
    &__title{
        display: flex 4;
        font-size: 3rem;
        color: rgb(221, 84, 5);
        margin: 5rem 0 2rem 0;
        text-align: center;
    }
    &__grid{
        display: grid;
        height: 100vh;
        text-align: center;
        justify-content: center;
        grid-template-columns: 20vw 20vw 20vw;
        grid-template-rows: 30vh 30vh;
        gap: 4rem;
        margin: 5rem;
        &__1, &__2, &__3, &__4, &__5, &__6{
            text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87;
            border-radius: 11px;
            background: linear-gradient(145deg, #b3b2b2, #d5d4d4);
            box-shadow:  12px 12px 24px #a9a8a8,
                        -12px -12px 24px #e5e4e4;
            min-height: 12rem;
        }
        &__1{
            grid-column: 1;
            grid-row: 1;
            &__PFCLS{
                display: flex;
                flex-direction: column;
                list-style: none;
                padding: 1rem;
                margin: 1rem;
            }
        }
        &__2{
            grid-column: 2;
            grid-row: 1;
        }
        &__3{
            grid-column: 3;
            grid-row: 1;
            &__FEF{
                display: flex;
                flex-direction: column;
                list-style: none;
                padding: 1rem;
                margin: 2.5rem 0 2.5rem ;
            }
        }
        &__4{
            grid-column: 1;
            grid-row: 2;
        }
        &__5{
            grid-column: 2;
            grid-row: 2;
            &__PFCP{
                display: flex;
                flex-direction: column;
                list-style: none;
                padding: 1rem;
                margin: 2rem 0 2rem;
            }
        }
        &__6{
            grid-column: 3;
            grid-row: 2;
        }
    }
}

ul li{
    color: rgb(41, 39, 39);
    padding: .3rem;
}