/* Barre de navigation */

nav {
    padding: 16px;
    display: grid;
    width: 100%;
    grid-template-columns: 140px 1fr;
    position: fixed;
    border: 2px solid black; /*temporaire*/
    background-color: rgba(255, 255, 255, 0);
}

.nav_scroll {
    background-color: black;
}

nav img {
    width: 140px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 24px 0px 24px;
}

nav ul li {
    list-style: none;
    font-size: 1.8rem;
    font-family: 'Ruluko';
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: black;
}

/* Footer */

.footer{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    height: 5rem;
    width: 6rem;
    padding: 2rem;
    color: whitesmoke;
}

.text{
    display: flex;
    color: hsl(0, 0%, 96%);
    font-size: 1rem;
    flex-direction: column;
    text-align: center;
    font-family: 'Ruluko';
}

.p{
    display: flex;
}

.logos-sociaux{
    display: flex;

}

.logos-sociaux img{
    padding: 1rem;
    padding-top: 7rem;

}

.shifumi-Inc{
    color: rgba(88, 218, 235, 0.938);
    text-decoration: underline;
    font-size: 1.3rem;
}