*{
    margin: 0;
    padding: 0;
}


header{
    background-image: url("./assets/rules_img.jpeg");
    height: 100vh;
    background-size: cover;
}

header h1{
    color:#F4F3F3;
    text-align: center;
    padding-top: 20rem;
    font-size: 8rem;
}

body{
    background-color: #F4F3F3;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    text-align: center;
}

.container11{
    display: flex 1;
    font-size: 3rem;
    color: rgb(221, 84, 5);
    margin: 5rem 0 2rem 0;
}

.container12{
    display: flex 2;
    font-size: 2rem;
    margin: 2rem 5rem 2rem 5rem;
}

.container13{
    display: flex 3;
    font-size: 2rem;
    margin: 2rem 5rem 2rem 5rem;
}

.container21{
    display: flex 4;
    font-size: 3rem;
    color: rgb(221, 84, 5);
    margin: 5rem 0 2rem 0;
    text-align: center;
}

.gcontainer{
    display: grid;
    text-align: center;
    margin: 0 5rem 0 5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.g1{
    grid-column: 1/2;
    grid-row: 1/2;
}